html {
    
    --primaryColor: rgba(20, 131, 196, 0.9);
    --contentTextColor: rgb(88, 89, 100);
    --headerColor: rgba(73,80,87);
    --backgroundColor:rgba(88, 89, 100);
    --lightPrimaryColor:rgb(25, 171, 255);
  }
  h1 {
    padding: 1% 10%;
    padding-left: 10.5%;
    padding-top: 2%;
    font-weight: 400;
    font-family: "Montserrat Semi-bold 600", sans-serif;
    
  }
  
  .content-container {
    margin: 0 8%;
    padding: 1% 2%;
    font-size: 19px;
    padding-left: 2.5%;
    line-height: 1.5emf;
    
  }
  
  .content-container::before {
    content: "";
    background-image: url(./logo1.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    opacity: 0.07;
    top: 35%;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  
  body {
    color: rgb(88, 89, 100);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: "Montserrat Regular-300", sans-serif;
    
    
    min-height: 80%;
  }
  
  

  .table-responsive{
    padding: 1% 10%;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top: 2%;
    font-size: 20px;
  }

  .department-nav{
    padding-bottom: 2%;
    margin:2% 0;
    padding: 1% 10%;
    padding-left: 10.5%;
   
    padding-top: 2%;
    font-size: 18px;
    align-items: center;
    
  }
  .divider{
    border-bottom:2.5px solid var(--primaryColor);
    padding-top: 5%;
    margin-bottom: 3%;
  }
  .department-nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0 0;
    margin: 0 0;
    background-color:var(--headerColor);
    opacity: 0.9;
  }
  
  
  .department-nav ul li {
    
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .department-nav ul li:last-child {
    border-right: none;
    
  }
  .department-nav ul li a {
    display: block;
    color: #fff;
    font-weight: 400;
    
    padding: 14px 20px;
    text-decoration: none;
    text-align: justify;
  }
  
  /* Change the link color to #111 (black) on hover */
  .department-nav li a:hover {
    background-color: var(--primaryColor);
  }
  
  .department-nav .active{
    background-color:var(--primaryColor);
  }
  @media only screen and (max-width:1264px){
    
    .department-nav ul li {
      float: none;
      border-right:none;
    }
    .department-nav ul li a {text-align: center;}
    
  }
  