html {
  --primaryColor: rgba(20, 131, 196, 0.9);
  --contentTextColor: rgb(88, 89, 100);
  --headerColor: rgba(59, 59, 59,0.9);
  --backgroundColor:rgba(88, 89, 100, 0.06);
  --lightPrimaryColor:rgb(25, 171, 255);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

body {
  width:100%;
  background: #f5f5f5;
  color: #666666;
  font-family: "Montserrat" !important;
}

a {
  color: var(--lightPrimaryColor);
  transition: 0.5s;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: thin;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  background: white;
}

#header.header-transparent {
  background:transparent;
}

#header.header-scrolled {
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0,0.25);  
  padding: 5px 0;
}

#header.header-scrolled a {
  color: var(--lightPrimaryColor);
}


#header .logo img {
  max-height: 60px;
}

.image-overlay {
  top: 0;
  left: 0;
  background: radial-gradient(90% 50%, rgba(19,31,54,0.00) 50%, #000000 100%);
}
  




/*Intro Section*/
#intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  html{
    font-size: 25px;
  }
  #intro {
    height: 150vh;
  }
}

#intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#intro .container {
  text-align: center;
  
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 1.75em;
  }
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 2em;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: var(--lightPrimaryColor);
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #147bdb;
}





/*popular events*/
.post-slide{
  margin: 10px 15px;
  background: #fff;
  border-bottom: 1px solid #dedde1;
}
.demo
{
padding: 10px 0;
}
.heading-title
{
margin-bottom: 10px;
}
.post-slide .post-header{
  padding: 15px 20px;
}

.post-slide .title{
  margin-bottom: 5px;
}

.post-slide .title a{
  font-size: 15px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.post-slide .post-bar{
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}

.post-slide .post-bar li{
  display: inline-block;
  margin-right: 20px;
  color: #808080;
}

.post-slide .post-bar li a{
  font-size: 15px;
  color: #808080;
  text-transform: capitalize;
}


.post-slide .post-bar li img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.post-slide .post-bar li i,
.post-slide .post-bar li img{
  margin-right: 5px;
}

.post-slide .pic{
  overflow: hidden;
  position: relative;
}

.post-slide .pic:after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0);
  transition: all 0.9s ease 0s;
}

.post-slide:hover .pic:after{
  background: rgba(255,255,255,0.2);
}

.post-slide .pic img{
  width: 100%;
  height: auto;
  transform: rotate(0deg) scale(1,1);
  transition: all 0.6s ease-in-out 0s;
}

.post-slide .post-category{
  padding: 5px 15px;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fd6058;
  z-index: 1;
}

.post-slide .post-category li{
  display: inline-block;
  text-transform: uppercase;
}

.post-slide .post-category li:after{
  content: " ,";
  color: #fff;
}

.post-slide .post-category li:last-child:after{
  content: "";
}

.post-slide .post-category li a{
  color: #fff;
}

.post-slide .post-category li a:hover{
  text-decoration: none;
  color: #333;
}

.post-slide .post-description{
  font-size: 76px;
  color: #808080;
  padding: 15px;
}

@media only screen and (max-width: 480px) {
  .post-header .post-bar li{
      margin-right: 5px;
  }
}


/*news*/

.table-responsive{
  height:500px; 
  width: 400px;
  overflow-y: hidden;
  border-radius: 5px;
  border: 5px solid #f0f0f0;
}

.table-responsive:hover{border-color:var(--lightPrimaryColor);}

table{width:100%;}
td{padding:10px; background:#fff;}


/*upcomin events*/
.event-container {
  font-family: "Montserrat", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  max-height: 500px;
  overflow: scroll;
  overflow-x: auto;
}

.event-container h3.year {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 12px 0;
  height: 250px;
}

.event .event-left {
  background: var(--primaryColor);
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

 .event-left .date {
  font-size: 3.0em;
}

.event .event-left .month {
  font-size: 2em;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 1.0em;
  font-weight:300px;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 8px;
  border-radius: 16px;
  margin: 10px 0;
  font-size: 0.75;
}

.event .event-right .event-timing img {
  height: 10px;
  padding-right: 4px;
}

@media (max-width: 950px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 1.5em;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}

/*about*/

.subheading {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5rem;
  color: var(--contentTextColor);
}

.btn.btn-margin {
  margin-left: 12rem;
}
.btn.btn-lily {
  background: var(--lightPrimaryColor);
  margin-top: 0;
}


/* Sections Header
--------------------------------*/
.section-header h3 {
  padding: 30px;
  font-size: 1.5em;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--lightPrimaryColor);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}


/*recruitors*/
.slider {
  background-color: white;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.5);
}


.slider::before, .slider::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 100px;
  background: liner-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}

.slider::before {
  top: 0;
  left: 0;
}

.slider::after  {
  top: 0;
  right: 0;
  transform: rotateX(360deg);
}

.slider .slider-track{
  display: flex;
  animation: scroll 60s linear infinite;
}

.slider .slide img {
  margin: 0 50px 0 0;
  padding-top: 40px;
  width: 150px;
  height: 150px;

}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-350px * 10));
  }
}
 